/* ---- tab-form start ---- */
.typeList {
	margin: 0 auto;
	text-align: center;
}

.typeList li {
	display: inline-block;
	font-size: 20px;
	background-color: #565656;
	padding: 9px 25px;
	margin: 0 1em;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
}

.typeList li.selected, .typeList li:hover {
	background-color: #AB3131;
	transition: all .3s;
}

.tab_form {
	display: none;
}

/* ---- tab-form end ---- */
.generateMode_wrap {
	border: 1px solid #B8B8B8;
	border-radius: 16px;
	max-width: 26%;
	margin: 24px auto 0 auto;
	padding-bottom: 27px;
}

h3 {
	text-align: center;
}

.addExam_wrap {
	max-width: 750px;
	width: 90%;
	margin: 1em auto 0 auto;
}

.addExam_wrap label {
	display: inline-block;
	padding: 10px 0 10px 0;
	font-size: 18px;
	margin: 7px 1em 1em 0;
	font-weight: bold;
}

.label_style {
	width: 10%;
}

.addExam_wrap input {
	font-size: 18px;
	border-radius: 8px;
	border: 1px solid #888;
	padding: 5px 10px;
}

#addExam_manual_form {
	margin-top: 20px;
	font-size: 18px;
}

.examType_wrap,
.examLevel_wrap {
	display: inline-block;
}

.examType_wrap label,
.examLevel_wrap label {
	margin: 0;
	display: inline-block;
	padding: 6px 20px;
	background-color: #ddd;
	border-radius: 15px;
	margin-right: 15px;
	font-weight: normal;
	cursor: pointer;
}

.examType_wrap input[type='radio'],
.examLevel_wrap input[type='radio']{
	display: none;
}

.examType_wrap input[type='radio']:checked + label,
.examLevel_wrap input[type='radio']:checked + label {
	background-color: rgba(121, 176, 61, 1);;
	color: #fff;
	transition: all .3s;
	box-shadow: 2px 2px 2px #454545;
}

 #course_name {
	display: inline-block;
	font-size: 18px;
	border-radius: 15px;
	padding: 6px 20px;
	background-color: rgba(52, 141, 216, 1);
	color: #fff;
	cursor: default;
	box-shadow: 2px 2px 2px #454545;
}

.label_style.examDate {
	vertical-align: text-bottom;
}

.exam_time_wrap {
	margin: 1em 0;
	border: 1px solid #B8B8B8;
	border-radius: 11px;
	padding: 5px 22px;
	width: 75%;
	display: inline-block;
}

.exam_time_wrap input {
	width: 20%;
}

.exam_time_select {
	display: inline-block;
	margin-left: 1em;
}

.exam_time_select select {
	padding: 10px 0;
	font-size: 20px;
	border: 1px solid #888;
	margin-bottom: 15px;
}

.exam_time_select span {
	padding: 2px 5px;
	font-size: 18px;
}

.time {
	width: 7%;
}

.line_distent {
	margin-left: 2em !important;
}

.word_style {
	font-size: 18px;
}

.questionNum_wrap {
	margin: 1em 0;
	border: 1px solid #B8B8B8;
	border-radius: 11px;
	padding: 5px 22px;
	width: 88%;
}

.questionNum_wrap label {
	width: 10%;
	margin-right: 2px;
}

.questionNum_wrap .showNum {
	display: inline-block;
	width: 22%;
	font-size: 15px;
	color: #B8B8B8;
	margin-left: 10px;
}

.questionNum {
	width: 7%;
}

.explanation {
	width: 90%;
	height: 105px;
	margin-bottom: 15px;
	border: 1px solid #888;
	border-radius: 10px;
	font-size: 18px;
	padding: 8px 10px;
}

.chapter_range_wrap {
	border: 1px solid #B8B8B8;
	border-radius: 11px;
	padding: 0 20px;
}


.chapter_wrap {
	padding: 20px 0;
}

.chapter_range_wrap .chapter_wrap:not(:last-child) {
	border-bottom: 1px solid #B8B8B8;
}

.chapter_wrap .chapter_title{
	margin: 6px 0;
	font-weight: bold;
	font-size: 18px;
}

.chapter_wrap .select_all_section_btn {
	color: rgb(52, 141, 216);
	font-size: 14px;
	padding: 4px 8px;
	cursor: pointer;
}

.section_wrap {
	padding: 8px 0;
}

.section_wrap label {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 16px;
	display: block;
}


.funcBtns_wrap {
	margin-top: 5%;
	text-align: center;
}

.funcBtns_wrap button{
	display: inline-block;
	border: 0px solid #000;
	border-radius: 5px;
	width: 19%;
	text-align: center;
	padding: 10px 5px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	margin: 0 27px;		
}

.funcBtns_wrap .next {
	background-color: rgba(121, 176, 61, 1);
}

.funcBtns_wrap .next:hover {
	background-color: rgba(121, 176, 61, .8);
	transition: all 0.3s;
}

.funcBtns_wrap .giveup {
	background-color: rgba(173, 50, 50, 1);
}

.funcBtns_wrap .giveup:hover {
	background-color: rgba(173, 50, 50, .8);
	transition: all 0.3s;
}