#courseBar {
	/*margin-top: 15px;*/
	width: 100%;
	background-color: #fff;
}

#courseBarPosition {
	position: relative;
	padding: 10px 0;
}

#coursePic img {
	width: 100%;
	display: block;
  	min-height: 78px;
  	min-width: 150px;	
}

#coursePic {
	float: left;
	width: 15%;
}

#courseHeader{
	float: left;
	margin-left: 1%;
}

#courseName {
	padding-top: 5px;
	font-size: 35px;
}

#courseTeacher {
	font-size: 20px;
}

.nav-wrap{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.userControl {
	text-align: center;
	  margin: 10px 0 0 0;
}

/*.courseControl{
	position: absolute;
	width: 45%;
	float: left;
	left: 40%;
	top: 33%;
}

.courseControl li {
	display: inline-block;
	margin-right: 10px;
	font-size: 20px;
	padding: 4px 6px;
	border-bottom: 3px solid transparent;
	transition: 0.3s;
	cursor: pointer;
}

.courseControl .active , .courseControl li:hover {
	border-bottom: 3px solid #5BAE01;
}*/

.announce-wrap {
	max-width: 960px; 
	width: 90%;
	margin: 2em auto 0 auto;
	background-color: #fff;
	border-radius: 5px;	
}

#announceList-container{
	margin: 1em;
}

.announceItem {
	position: relative;
	/*margin-top: 20px;*/
	padding: 20px;
}

.announceItem:not(:last-child) {
	border-bottom: 1px solid #EDEDED;
}
.announceTitle {
	font-size: 20px;
	padding: 6px 12px;
	display: inline-block;
	color: #3238AD;
}

.announceDate {
  	position: absolute;	
	display: inline-block;
	right: 2px;
	padding: 10px 15px 5px 12px;
}

.announceContent {
	padding: 6px 12px 6px 36px;
	font-size: 16px;
}

/* courseInfo */
.content-wrap-courseinfo {
	margin-top: 2em;
}

#left-wrap {
	float: left;
	width: 16em;
}

.asidebox{
	background-color: #fff;
	border: 0px solid #fff;
	border-radius: 5px;
	margin-bottom: 18px;
}

.asideTitle {
	background-color: #3238AD;
	border-radius: 5px 5px 0 0;
	color: #fff;
	padding: 10px 5px 10px 16px;
}

.asideContent {
	padding: 18px 1em 10px 16px;
}

.infotable-row {
	display: table-row;
}

.infotable-row a{
	text-decoration: none;
	color: #000;
	word-break: break-all;
}

.infotable-row a:hover{
	transition: all 0.3;
	color: rgba(0, 0, 0, 0.8);
}

.infotable-row th {
	padding-right: 15px;
	padding-bottom: 8px;
	vertical-align: middle;
	width: 35%;
}

.infotable-row td  {
	vertical-align: top;
	width: 50%;
}

#right-wrap {
	margin-left: 19em;
}


.courseIntro {
	background-color: #fff;
	border: 0px solid #fff;
	border-radius: 5px;	
}

.courseIntroTitle {
	padding: 1em;
}

.section-header h2 {
	padding: 10px 1em 10px 15px;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

.section-header p {
	padding: 0px 1em 1em 15px;
}

/* courseSchedule */
.content-wrap-schedule {
	position: relative;
	margin-top: 2em; 
}

#schedule-nav{
	position: absolute;
	width: 10em;
	left: 15px;
	top: 0;
}

.schedule-nav-fix {
	position: fixed;
}

#schedule-nav ul {
	display: inline-block;
	padding: 0;
}

#schedule-nav li {
	border-left: 1px solid #737373 ;

}

#schedule-nav a {
	color: #000;
	display: inline-block;
	text-decoration: none;
	padding: 3px 0 3px 10px;

}

#schedule-nav .active , #schedule-nav li:hover{
	border-left : 3px solid #3238AD;

} 

.schedule-wrap {
	margin-left: 25%;
	width: 55%;
}

.scheduleItem {
	background-color: #fff;
	/*padding: 5px 10px 5px 10px;*/
	margin-bottom: 25px;
	border-radius: 5px;
}

.scheduleItem a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

.chapterTitle {
	color: #fff;
	font-size: 18px;
	padding:  7px 10px 7px 12px;
	margin-bottom: 20px;
	background-color: #3238AD;
	border-radius: 5px 5px 0 0;
}

.subChapter {
	margin-left: 34px;
	padding-bottom: 20px;
}

.subChapter a {
	color: rgba(0, 0, 0, 1);
	transition: all 0.2s;
	padding: 10px 2px;
}

.subChapter a:hover {
	color: rgba(0, 0, 0, .7);
}

/* exam */

.content-wrap-exam {
	max-width: 960px;
	margin-top: 2em;
}

.examList_container {
	background-color: #fff;
	padding: 1px 10px 0px 10px;
	border-radius: 5px;
}

.exam_item {
	margin: 1em 10px;
	font-size: 18px;
	padding: 10px 0 2em 0;
}

.exam_item:not(:last-child) {
	border-bottom: 1px solid #EDEDED;
}

.exam_table {
	width: 100%;
}

.exam_type {
	width: 15%;
}

.exam_type a {
	background-color: #5C5C5C;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: default;
}

.exam_time {
	color: #3F3E3E;
	width: 20%;
}

.exam_date {
	color: #3F3E3E;
	width: 54%;
}


.enter_exam a {
	padding: 6px 13px;
	color: #fff;
	border-radius: 3px;
	background-color: rgba(173, 50, 50, 1);
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;
}

.enter_exam a:hover {
	background-color: rgba(173, 50, 50, 0.7);
}

.exam_item .no_exam {
	display: block;
	text-align: center;
	color: #999;
}