.content-wrap-courseinfo {
	margin-top: 2em;
}

.addCourse, .alreadyAddCourse, .closeAddCourse{
	float: left;
	display: inline-block;
	padding: 10px 35px;
	font-size: 18px;
	text-decoration: none;
	background-color: rgba(52, 141, 216, 1);
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	margin: 20px 0 20px 45px;
	transition: all .3s;
}

.loading {
	margin: 30px 0 0px 21px;
	display: none;
}

.alreadyAddCourse {
	background-color: rgba(173, 50, 50, 1);
}

.closeAddCourse {
	background-color: rgba(0, 0, 0, 1);
}

.addCourse:hover {
	background-color: rgba(52, 141, 216, 0.8);
}

.alreadyAddCourse:hover {
	background-color: rgba(173, 50, 50, 0.8);
}

.closeAddCourse:hover {
	background-color: rgba(0, 0, 0, .8);
}

.addCourse:active, .alreadyAddCourse:active {
	box-shadow: inset 0 8px 6px -6px#5C5B5B;
}

.alreadyFavorite {
	float: left;
	display: inline-block;
	padding: 10px 35px;
	font-size: 18px;
	text-decoration: none;
	background-color: rgba(173, 50, 50, 1);
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	margin: 20px 0 20px 45px;
	transition: all .3s;
}

.alreadyFavorite:hover {
	background-color: rgba(173, 50, 50, 0.8);
}