#videoBar{
	width:100%;
	background-color: #323131;
}

#video {
	/*position: relative;*/
	padding-bottom: 40%;
	/*padding-top: 25px;*/
	height: 0;
	text-align: center;
}

#video video {
	width: 70%;
	
}

#courseChapterBar {
	text-align: center;
	position: relative;
}

#courseChapterBar div {
	color: #fff;
	padding: 10px 0;
	font-size: 17px;
}

#leftChapter {
	position: absolute;
	left: 0;
	top: 0;
	float: left;
	margin: 1px 0;
	text-decoration: none;
}

#leftChapter a, #rightChapter a{
	text-decoration: none;
	color: #fff;
	padding: 10px 2px;
	transition: all 0.2s;
}

#rightChapter {
	position: absolute;
	right: 0;
	top: 0;	
	float: right;
	margin: 1px 0;
	text-decoration: none;
}

#leftChapter a:hover, #rightChapter a:hover {
	color: rgba(255, 255, 255, 0.7);
}


#courseTab-wrap li {
	display: inline-block;

}

#courseTab-wrap li a{
	font-size: 18px;
	color: #000;
	text-decoration: none;
}

.userControl {
	margin: 15px 0 10px -6px;
}

.display-wrap {
	max-width: 960px; 
	width:90%;
	margin: 0 auto;	
}

#courseContent-wrap {
	background-color: #fff;	
}

#courseContent {
	height: 100px;
	padding: 12px 15px;
}
