.back_to_schedule_wrap {
	position: relative;
	z-index: 100;
}

.back_to_schedule {
	position: absolute;
	left: 1.5%;
	bottom: 169px;
}

.back_to_schedule a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	background-color: #5F5F5F;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all .3s;
}

.back_to_schedule a:hover {
	background-color: #000;
}

#videoBar{
	width:100%;
	background-color: #323131;
	height: 34em;
}

#video {
	/*position: relative;*/
	padding-bottom: 40%;
	/*padding-top: 25px;*/
	height: 0;
	text-align: center;
}

#video video {
	width: 70%;
}

#courseChapterBar {
	text-align: center;
	position: relative;
}

#courseChapterBar div {
	color: #fff;
	padding: 10px 0;
	font-size: 17px;
}

#leftChapter {
	position: absolute;
	left: 0;
	top: 0;
	float: left;
	margin: 1px 0;
	text-decoration: none;
}

#leftChapter a, #rightChapter a{
	text-decoration: none;
	color: #fff;
	padding: 10px 2px;
	transition: all 0.2s;
}

#rightChapter {
	position: absolute;
	right: 0;
	top: 0;	
	float: right;
	margin: 1px 0;
	text-decoration: none;
}

#leftChapter a:hover, #rightChapter a:hover {
	color: rgba(255, 255, 255, 0.7);
}


#courseTab-wrap li {
	display: inline-block;

}

#courseTab-wrap li a{
	font-size: 18px;
	color: #000;
	text-decoration: none;
}

.userControl {
	margin: 15px 0 1.5em -6px;
	text-align: center;
}

.display-wrap {
	max-width: 960px; 
	width: 90%;
	margin: 0 auto;	
}

/* courseContent */
#courseContent {
	background-color: #fff;
	border-radius: 5px;
}

#courseContent .Content {
	padding: 8px 1.5em;
}

/* test */
.exerciseList_wrap {
	padding: 2em 4em;
}

#courseExercise {
	background-color: #fff;
	border-radius: 5px;
}

.finish_test_wrap {
	  margin-top: 2em;
}

.finish_test_wrap .finishBtns {
	display: block;
	text-align: center;
}

.finishBtns a {
	background-color: rgba(121, 176, 61, 1);
	color: #fff;
	padding: 6px 15px;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	transition: all .3s;
}

.finishBtns a:hover {
	background-color: rgba(121, 176, 61, 0.7);
}
/* disqus */
.disqus-display-wrap {
	max-width: 750px; 
	width: 90%;
	margin: 0 auto;	
}

.correct_ans {
	display: none !important;
	border: 1px solid #ccc;
	padding: 6px 0 0 0;
}

.correct_ans .title{
	color: #aaa;
	margin-bottom: 10px;
}