#courseBar {
	/*margin-top: 15px;*/
	width: 100%;
	background-color: #fff;
}

#courseBarPosition {
	position: relative;
	padding: 10px 0;
}

#coursePic img {
	width: 100%;
	display: block;
  	min-height: 78px;
  	min-width: 150px;	
}

#coursePic {
	float: left;
	width: 15%;
}

#courseHeader{
	float: left;
	margin-left: 1%;
}

#courseName {
	padding-top: 5px;
	font-size: 35px;
}

#courseTeacher {
	font-size: 20px;
}

.nav-wrap{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.userControl {
	text-align: center;
	  margin: 10px 0 0 0;
}

/*.courseControl{
	position: absolute;
	width: 45%;
	float: left;
	left: 40%;
	top: 33%;
}

.courseControl li {
	display: inline-block;
	margin-right: 10px;
	font-size: 20px;
	padding: 4px 6px;
	border-bottom: 3px solid transparent;
	transition: 0.3s;
	cursor: pointer;
}

.courseControl .active , .courseControl li:hover {
	border-bottom: 3px solid #5BAE01;
}*/

/* ==== add new annouce start ==== */
.announceFunc-wrap {
	text-align: right;
	width: 96%;
	margin-bottom: 25px;	
}

.announceFunc-wrap .btn a {
	padding: 7px 18px;
	background-color: rgba(52, 141, 216, 1);
	color: #fff;
	font-size: 18px;
	border-radius: 3px;
	cursor: pointer;
	transition: all .3s;
}

.announceFunc-wrap .btn a:hover {
	background-color: rgba(52, 141, 216, 0.8);
}

.announce-wrap {
	max-width: 960px; 
	width: 90%;
	margin: 2em auto 0 auto;
}

.announce-form {
	border: 1px solid #B8B8B8;
	border-radius: 5px;
	width: 70%;
	margin: 0 auto 35px auto;
	/*padding: 26px 48px;*/
	display: none;
}

.announce-form label{
	font-size: 18px;
	width: 6%;
	display: inline-block;
	font-weight: bold;
	padding: 10px 14px 10px 0;
}

.announce-form input {
	font-size: 18px;
	border-radius: 8px;
	border: 1px solid #888;
	padding: 5px 10px;
}

#announce_title {
	width: 88%;
}

#announce_content {
	width: 97%;
	height: 105px;
	margin-bottom: 15px;
	border: 1px solid #888;
	border-radius: 10px;
	font-size: 18px;
	padding: 8px 10px;
}

.warning {
	font-size: 18px;
	color: red;
	text-align: center;
}

.announce_btn_wrap {
	text-align: center;
	margin: 22px 0 8px 0;
}

.announce_btn_wrap span{
	padding: 7px 20px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	transition: all .3s;
}

#save_announce {
	background-color: rgba(121, 176, 61, 1);
	margin-right: 44px;
}

.editAnnounceBtn {
	background-color: rgba(121, 176, 61, 1);
	margin-right: 10px;
}

#save_announce:hover, .editAnnounceBtn:hover  {
	background-color: rgba(121, 176, 61, 0.7);
}

#close_announce , .deleteAnnounceBtn {
	background-color: rgba(173, 50, 50, 1);
}

#close_announce:hover, .deleteAnnounceBtn:hover {
	background-color: rgba(173, 50, 50, 0.7);
}

.announceTool {
	text-align: right;
}

.announceTool span{
	padding: 5px 10px;
	cursor: pointer;
	color: #fff;
	border-radius: 3px;
	transition: all .3s;
}

/* ==== add new annouce end ==== */

.announceList-container{
	margin: 1em;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #A5A5A5;
}

.announceItem {
	position: relative;
	/*margin-top: 20px;*/
	padding: 20px;
}

.announceItem:not(:last-child) {
	border-bottom: 1px solid #EDEDED;
}
.announceTitle {
	font-size: 20px;
	padding: 6px 12px;
	display: inline-block;
	color: #3238AD;
}

.announceDate {
  	position: absolute;	
	display: inline-block;
	right: 2px;
	padding: 10px 15px 5px 12px;
}

.announceContent {
	padding: 6px 12px 6px 36px;
	font-size: 16px;
}

.announceItem.noAnnounce {
	padding: 2em 0 2em 0;
	font-size: 18px;
	text-align: center;
	color: #999;
}

/* courseInfo */
.content-wrap-courseinfo {
	margin-top: 2em;
}

#left-wrap {
	float: left;
	width: 16em;
}

.asidebox{
	background-color: #fff;
	border: 0px solid #fff;
	border-radius: 5px;
	margin-bottom: 18px;
	box-shadow: 2px 2px 2px #A5A5A5;
}

.asideTitle {
	background-color: #3238AD;
	border-radius: 5px 5px 0 0;
	color: #fff;
	padding: 10px 5px 10px 16px;
}

.asideContent {
	padding: 18px 1em 10px 16px;
}

.infotable-row {
	display: table-row;
}

.infotable-row a{
	text-decoration: none;
	color: #000;
	word-break: break-all;
}

.infotable-row a:hover{
	transition: all 0.3;
	color: rgba(0, 0, 0, 0.8);
}

.infotable-row th {
	padding-right: 15px;
	padding-bottom: 8px;
	vertical-align: middle;
	width: 35%;
}

.infotable-row td  {
	vertical-align: top;
	width: 50%;
}

#right-wrap {
	margin-left: 19em;
}


.courseIntro {
	background-color: #fff;
	border: 0px solid #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #A5A5A5;
}

.courseIntroTitle {
	padding: 1em;
}

.section-header h2 {
	padding: 10px 1em 10px 15px;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

.section-header p {
	padding: 0px 1em 1em 15px;
}

/* courseSchedule */
.content-wrap-schedule {
	position: relative;
	margin-top: 2em; 
}

#schedule-nav{
	position: absolute;
	width: 10em;
	left: 15px;
	top: 0;
}

.schedule-nav-fix {
	position: fixed;
}

#schedule-nav ul {
	display: inline-block;
	padding: 0;
}

#schedule-nav li {
	border-left: 1px solid #737373 ;

}

#schedule-nav a {
	color: #000;
	display: inline-block;
	text-decoration: none;
	padding: 3px 0 3px 10px;

}

#schedule-nav .active , #schedule-nav li:hover{
	border-left : 3px solid #3238AD;

} 

.schedule-wrap {
	margin-left: 25%;
	width: 55%;
}

.scheduleItem {
	background-color: #fff;
	margin-bottom: 25px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #A5A5A5;
}

.scheduleItem a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

.chapterTitle {
	color: #fff;
	font-size: 18px;
	padding:  7px 10px 7px 12px;
	margin-bottom: 20px;
	background-color: #3238AD;
	border-radius: 5px 5px 0 0;
}

.subChapter {
	margin-left: 34px;
	padding-bottom: 20px;
}

.subChapter a {
	color: rgba(0, 0, 0, 1);
	transition: all 0.2s;
	padding: 10px 2px;
}

.subChapter a:hover {
	color: rgba(0, 0, 0, .7);
}
.schedule-wrap.no_schedule {
	background-color: #fff;
	font-size: 18px;
	color: #999;
	text-align: center;
	padding: 2em 0;
	border-radius: 5px;
	margin-left: 9%;
	width: 79%;
}
/* exam */

.content-wrap-exam {
	max-width: 960px;
	margin-top: 2em;
}

.examList_container {
	background-color: #fff;
	padding: 1px 10px 0px 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #A5A5A5;
}

.exam_item {
	margin: 1em 10px;
	font-size: 18px;
	padding: 10px 0 2em 0;
}

.exam_item:not(:last-child) {
	border-bottom: 1px solid #EDEDED;
}

.exam_table {
	width: 100%;
}

.exam_type {
	width: 15%;
}

.exam_type a {
	background-color: #5C5C5C;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: default;
}

.exam_time {
	color: #3F3E3E;
	width: 17%;
}

.exam_date {
	color: #3F3E3E;
	width: 40%;
}

.exam_score {
	  color: #3F3E3E;
	  width: 16%;
	  font-size: 18px;
}

.exam_btn a, .exam_btn span{
	padding: 6px 13px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;
}

.enter_exam a, .exam_btn span {
	background-color: rgba(121, 176, 61, 1);
}

.enter_exam a:hover, .enter_exam span:hover {
	background-color: rgba(121, 176, 61, 0.7);
}

.invalid_exam span {
	background-color: #b8b8b8;
	cursor: default;
}

.view_exam a {
	background-color: rgba(52, 141, 216, 1);
}

.view_exam a:hover {
	background-color: rgba(52, 141, 216, 0.7);
}

.exam_item .no_exam {
	display: block;
	text-align: center;
	color: #999;
}

.greenStyle {
	position: fixed;
	bottom: 3%;
	right: 10%;
	z-index: 100;
	background-color: rgba(90, 176, 61, 0.81);
	color: white;
	width: 11%;
	border-radius: 5px;
	padding: 12px 22px;
	font-size: 18px;
}

.redStyle {
	position: fixed;
	bottom: 3%;
	right: 10%;
	z-index: 100;
	background-color: rgba(176, 61, 61, 0.81);
	color: white;
	width: 11%;
	border-radius: 5px;
	padding: 12px 22px;
	font-size: 18px;
}