/* ---------- tab ---------- */
.addExerciseTitle {
	font-size: 24px;
	text-align: center;
	padding: 0px 0 22px 0;
	color: #000000;
	font-weight: bold;
}
.add_userControl {
	text-align: center;
}

.add_tab-list li {
	display: inline-block;
}

.add_tab-list a {
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;
	font-size: 18px;
	padding: 5px 21px;
	border-bottom: 3px solid transparent;
	transition: 0.3s;
	cursor: pointer;
	border: 1px solid #388BDB;
	border-radius: 14px;
	color: #388BDB;
}

.add_tab-list a.active , .add_tab-list a:hover {
	border-bottom: 3px solid #265B8E;
	background-color: #388bdb;
	color: #fff;
}

.add_tab-content {
	display: none;
}
/* ---------- tab ---------- */

/* ---------- new exercise ---------- */
.addExerciseBox_wrap {
	z-index: 150;
	position: fixed;
	display: block;
	right: 24%;
	top: 9%;
	width: 50%;
	height: 75%;
	background-color: #ededed;
	border-radius: 4px;
	padding: 23px 29px;
	box-shadow: 4px 4px 4px #474747;
	overflow: scroll;
}

.overlay_fix {
	width: auto;
	height: auto;
	z-index: 100;
	position: fixed;
	display: block;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	background-color: rgba(74, 74, 74, 0.69);
}

/*  */
.addExercise_wrap {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.addExercise_wrap a {
	font-size: 18px;
}

.addExercise_wrap label {
	display: block;
	padding: 10px 0 10px 0;
	font-size: 18px;
	font-weight: bold;
}

.question_textarea {
	width: 90%;
	height: 105px;
	margin-bottom: 15px;
	border: 1px solid #888;
	border-radius: 10px;
	font-size: 18px;
	padding: 5px 10px;
}

.opt label{
	display:inline-block;
    margin: 5px 30px 15px 0;
    padding: 4px 20px;
    font-size: 18px;
    color: #616161;
    background-color: #ddd;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 15px;
}

.opt input[type="radio"], .opt input[type="checkbox"]  {
	display: none;
}

.opt input[type="radio"]:checked + label, .opt input[type="checkbox"]:checked + label{
    background-color: #388BDB;
  	color: #fff;
  	box-shadow: 2px 2px 2px #454545;
}

/****** tags jquery start ******/

.tagsInput {
	font-size: 18px;
	border-radius: 8px;
	border: 1px solid #888;
	padding: 5px 10px;
	width: 50%;
}

ul.tagit {
  padding: 1px 9px;
  overflow: auto;
  margin-left: inherit;
  margin-right: inherit;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #888;
  width: 40%;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	font-weight: normal;
	color: #388BDB;
}

/****** tags jquery end ******/

.addExercise_wrap select {
	padding: 10px 0;
	font-size: 18px;
	border: 1px solid #888;
	margin-bottom: 15px;
}

.addExercise_wrap .time_select {
	width: 10%;
}

.addExercise_wrap .time_char {
	padding: 0 8px;
}

.opt_content div {
	display: block;
}

.opt_content span, .opt_content textarea{
	font-size: 18px;
}

.opt_content span {
	display; inline-block;
	padding: 5px 10px 5px 0;
}

.opt_content textarea {
	display; inline-block;
	vertical-align: top;
	padding: 0 5px;
	width: 85%;
	height: 50px;
	margin-bottom: 15px;
	border: 1px solid #888;
	border-radius: 10px;
	font-size: 18px;
	padding: 5px 10px;
}

.chapter_select {
	display: none;
	/*transition: all .3s;*/
}

.chapter_select.show{
	display: block;
	/*transition: all .3s;*/
}

.resultBtn_wrap {
	margin-top: 10px;
	text-align: center;
}

.resultBtn_wrap .resultBtn {
	display: inline-block;
  	border: 0px solid #000;
  	margin: 20px 15px;
  	cursor: pointer;
  	padding: 8px 30px;
  	border-radius: 3px;
  	color: #fff;
  	transition: all .3s;
}

.resultBtn.save {
	background-color: rgba(121, 176, 61, 1);
}

.resultBtn.save:hover {
	background-color: rgba(121, 176, 61, .7);
}

.resultBtn.closeBox {
	background-color: rgba(173, 50, 50, 1);
}

.resultBtn.closeBox:hover {
	background-color: rgba(173, 50, 50, .7);
}

/* loading */
.spinner {
  margin: 30% auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*  status Bar */

.statusSildeSave {
	position: fixed;
	top: 34%;
	right: 45%;
	z-index: 100;
	width: 26%;
	height: 10%;
	border-radius: 5px;
	padding: 3% 22px 0 22px;
	font-size: 18px;
	color: white;
	text-align: center;
	font-size: 30px;
}

.statusSilde {
	position: fixed;
	bottom: 3%;
	right: 10%;
	z-index: 100;
	width: 11%;
	border-radius: 5px;
	padding: 12px 22px;
	font-size: 18px;
	color: white;
}

.greenStyle {
	background-color: rgba(90, 176, 61, 0.81);
}

.redStyle {
	background-color: rgba(176, 61, 61, 0.81);
}