body{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', '微軟正黑體', sans-serif;
	background-color:  #ededed;
	height: 100%;
}

html {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0;
	padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/* headerBar start */
.headerBar{
	background-color: #000;
	margin: 0px;
	height: 60px;
}

#headerContainer{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

#headerLogo {
	float:left;
	font-size: 38px;
	display: inline;
	margin-top: 10px;
	width: 16%;
}

#headerLogo a {
	color: #838383;
	text-decoration: none;
}

#headerLogo a img {
	width: 100%;
}

.examInfo_wrap {
	display: inline-block;
	font-size: 18px;
}

.examInfo, .numberInfo {
	position: relative;
}

.examInfo {
	left: 15em;
}

.numberInfo {
	left: 11em;
}

.examInfo a, .numberInfo a {
	display: inline-block;
	margin-right: 1em;
	color: #78ac25;
	font-weight: bold;
	padding: 3px 0;
}

.examInfo_wrap a span {
	font-weight: normal;
}

#headerBar-nav{
	float: right;
	list-style: none;
	display: inline;
}

#headerBar-nav li{
	font-size: 16px;
	color: rgba(0,0,0,.65);
	height: 31px;
	padding: 20px 10px 0px 10px;
	display: inline-block;
	list-style: none;
}

.headerBar-item a{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all .3s;
}

.saveBtn {
	padding: 8px 28px;
	background-color: rgba(121, 176, 61, 1);
	border-radius: 5px;
}

.saveBtn:hover {
	background-color: rgba(121, 176, 61, .8);
}

.giveUpBtn {
	padding: 8px 28px;
	background-color: rgba(173, 50, 50, 1);
	border-radius: 5px;
}

.giveUpBtn:hover {
	background-color: rgba(173, 50, 50, .8);
}
/* headerBar end */

.totalWrapper {
	min-height:100%;
}

.container {
	padding-bottom: 169px;
}

/* 內容 */
.content-wrap{
	max-width: 1200px; 
	width:90%;
	margin: 0 auto;
}

footer {
	position: relative;
 	height: 100px;
 	margin-top: -169px;
	clear: both;
}
#section-footer{
	background-color: #C5BFBF;
	margin-top: 50px;
}

#footerLabel{
	text-align: center;
	padding: 50px;
	color: #fff;
}