.examList-wrap {
	max-width: 1200px;
	width: 90%;
	margin: 30px auto 0 auto;
}


#right_wrap {
	float: left;
	width: 17%;
}

#left_wrap {
	margin-left: 9em;
}
/* ---------- menu list ----------*/
.function_wrap{
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
}

.function_ul {
    /*position: fixed;*/
    float: left;
    margin-top: 58px;
}

.function_wrap li {
    margin-bottom: 26px;
}

.functionBtn {
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
}


.functionBtn.blueFunc {
    color: rgba(52, 141, 216, 1);
    border: 1px solid rgba(52, 141, 216, 1);
}


.functionBtn.blueFunc:hover {
    color: #fff;
    background-color: rgba(52, 141, 216, 0.8);
    transition: all .3s;
}

.functionBtn.redFunc {
    color: rgba(173, 50, 50, 0.85);
    border: 1px solid rgba(173, 50, 50, 1);
}

.functionBtn.redFunc:hover {
    color: #fff;
    background-color: rgba(173, 50, 50, 1);
    transition: all .3s;
}

.functionBtn:active {
    box-shadow: inset 0 8px 6px -6px#5C5B5B;
}

/* ---------- menu list ----------*/

.examList-wrap div{
	font-size: 18px;
}
/* examList-wrap */

.examList_container {
	background-color: #fff;
	padding: 1px 10px 0px 10px;
	border-radius: 5px;
}

.exam_item {
	margin: 1em 10px;
	font-size: 18px;
	padding: 10px 0 2em 0;
}

.exam_item:not(:last-child) {
	border-bottom: 1px solid #EDEDED;
}

.exam_table {
	width: 100%;
}

.exam_type {
	width: 15%;
}

.exam_type a {
	background-color: #5C5C5C;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: default;
}

.exam_time {
	color: #3F3E3E;
	width: 17%;
}

.exam_date {
	color: #3F3E3E;
	/*width: 47%;*/
	width: 60%;
}

.exam_score {
	  color: #3F3E3E;
	  width: 16%;
	  font-size: 18px;
}

.exam_btn a, .exam_btn span{
	padding: 6px 13px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;
}

.enter_exam a {
	background-color: rgba(121, 176, 61, 1);
}

.enter_exam a:hover {
	background-color: rgba(121, 176, 61, 0.7);
}

.delete_exam span{
	background-color: rgba(173, 50, 50, 1);
}

.delete_exam span:hover{
	background-color: rgba(173, 50, 50, 0.7);
}

.view_exam a {
	background-color: rgba(52, 141, 216, 1);
}

.view_exam a:hover {
	background-color: rgba(52, 141, 216, 0.7);
}

.exam_item .no_exam {
	display: block;
	text-align: center;
	color: #999;
}

.panelBtn {
	width: 15%;
	margin-top: 15px;
}

/*  status Bar */
.statusSilde {
	position: fixed;
	bottom: 3%;
	right: 10%;
	z-index: 100;
	width: 11%;
	border-radius: 5px;
	padding: 12px 22px;
	font-size: 18px;
	color: white;
}

.greenStyle {
	background-color: rgba(90, 176, 61, 0.81);
}

.redStyle {
	background-color: rgba(176, 61, 61, 0.81);
}