.headerOutside_wrap {
	background-color: #000;
}

.exam_wrap {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.header {
	position: relative;
	height: 60px;
}

.headerLogo {
	position: absolute;
	margin-top: 10px;
	float: left;
}

.headerLogo a img {
	width: 40%;
}

.courseName {
	text-align: center;
}

.courseName a {
	display: inline-block;
	margin-top: 13px;
	font-size: 2em;
	color: #78ac25;
}

.studentInfo {
	position: absolute;
	float: right;
	right: 0;
	top: 25px;
}

.studentInfo a {
	color: #B8B8B8;
	font-size: 15px;
}

.testName {
	text-align: center;
}

.exercise_wrap {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.examInfo_box {
	margin-top: 20px;
	border: 1px solid #b8b8b8;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.examInfo_box .examInfo_wrap {
	padding: 22px 11px;
	font-size: 22px;
}

.examInfo .examInfo-row th {
	padding-bottom: 1em;
	width: 10%;
	font-weight: bold;
}

.examInfo .examInfo-row td {
	width: 90%;
	vertical-align: top;
}

.examInfo .examInfo-row td span {
	margin: 0 10px;
}

.examCheck_wrap {
	text-align: center;
	padding: 15px 0;
}

.examCheck_wrap .examCheckBtn {
	display: inline-block;
	width: 6em;
	font-size: 18px;
	padding: 8px 17px;
	border-radius: 5px;
	margin: 0 20px;
	color: #fff;
	cursor: pointer;
}

.startBtn {
	background-color: rgba(173, 50, 50, 1); 
}

.startBtn:hover {
	background-color: rgba(173, 50, 50, 0.7); 
	transition: all .3s;
}

.giveUpBtn {
	background-color: rgba(121, 176, 61, 1);
}

.giveUpBtn:hover {
	background-color: rgba(121, 176, 61, .7);
	transition: all .3s;
}

/* question css start */

.question {
	font-size: 18px;
}
.exerciseList {
	margin-top: 3em;
}

.questionsDisplay-wrap ul {
    margin-top: 20px;
}

.functionBtn {
    float: left;
    display: inline-block;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;

}
.newQuestion {
    color: rgba(52, 141, 216, 1);
    border: 1px solid rgba(52, 141, 216, 1);
    margin: 30px 0 20px -7em;
}

.newQuestion:hover {
    color: #fff;
    background-color: rgba(52, 141, 216, 0.8);
    transition: all .3s;
}

.return {
    color: rgba(173, 50, 50, 0.85);
    border: 1px solid rgba(173, 50, 50, 1);
    margin: 30px 0 0 1em;
}

.return:hover {
    color: #fff;
    background-color: rgba(173, 50, 50, 1);
    transition: all .3s;
}

.newQuestion:active, .alreadyAddCourse:active {
    box-shadow: inset 0 8px 6px -6px#5C5B5B;
}

.typeNum {
	list-style-type: cjk-ideographic;
	font-size: 20px;
}

.typeNum .typeName {
	margin-bottom: 1em;
}

.questionNum {
	list-style-type: decimal;
	font-size: 18px;
	margin-left: 24px;
}


.seriesNum {
	list-style-type: lower-alpha;
	font-size: 18px;
	margin-left: 20px;
}

/****** true false CSS Start *******/
.true_false_wrap, 
.single_choice_wrap,
.multi_choice_wrap,
.series_question_wrap {
    padding-bottom: 6px;
}

/*.true_false_wrap:not(:last-child),
.single_choice_wrap:not(:last-child),
.multi_choice_wrap:not(:last-child),
.series_question_wrap:not(:last-child) {
    border-bottom: 1px solid #d4d4d4;
}*/

.true_false_answer_wrap {
    display: inline-block;
	margin: 10px 0 10px 0;
}

.trueFalseAnswer {
    background-color: #F0BA2F !important;
}

.tfQuestion {
    display: inline-block;
}

.true_false_answer_wrap label, .single_choice_answer_wrap label, 
.multi_choice_answer_wrap label, .series_question_answer_wrap label {
    display: inline-block;
    margin: 5px 15px 15px 0;
    padding: 4px 30px;
    font-size: 18px;
    background-color: #ddd;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 15px;
}

.true_false_answer_wrap input[type="radio"], .single_choice_answer_wrap input[type="radio"],
.multi_choice_answer_wrap input[type="checkbox"], .series_question_answer_wrap input[type="radio"]  {
	display: none;
}

.true_false_answer_wrap input[type="radio"]:checked + label, .single_choice_answer_wrap input[type="radio"]:checked + label,
.multi_choice_answer_wrap input[type="checkbox"]:checked + label, .series_question_answer_wrap input[type="radio"]:checked + label {
    background-color: #F0BA2F;
}

/****** true false CSS End *******/

/****** single choice CSS Start *******/
.single_choice_answer_wrap {
	margin: 15px 0 10px 0;
	padding-right: 15px;
	width: auto;
}


/****** single choice CSS End *******/

/****** multi choice CSS Start *******/
.multi_choice_answer_wrap {
	margin: 15px 0 10px 0;
	padding-right: 15px;
	width: auto;
}

/****** multi choice CSS End *******/

/****** series CSS Start *******/
.series_question {
	margin: 15px 0 10px 0;
	font-size: 18px;
}

.series_question_answer_wrap {
	margin: 15px 0 10px 0;
	padding-right: 15px;
	width: auto;
}

/****** series choice CSS End *******/

