.questionsDisplay-wrap {
    max-width: 750px;
    width: 90%;
    margin: 0 auto;
}

.questionsDisplay-wrap ul {
    margin-top: 20px;
}
/* ---------- menu list ----------*/
.function_wrap{
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
}

.function_ul {
    /*position: fixed;*/
    float: left;
    margin-top: 7em;
}

.function_wrap li {
    margin-bottom: 26px;
}

.functionBtn {
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
}


.functionBtn.blueFunc {
    color: rgba(52, 141, 216, 1);
    border: 1px solid rgba(52, 141, 216, 1);
}


.functionBtn.blueFunc:hover {
    color: #fff;
    background-color: rgba(52, 141, 216, 0.8);
    transition: all .3s;
}

.functionBtn.redFunc {
    color: rgba(173, 50, 50, 0.85);
    border: 1px solid rgba(173, 50, 50, 1);
}

.functionBtn.redFunc:hover {
    color: #fff;
    background-color: rgba(173, 50, 50, 1);
    transition: all .3s;
}

.functionBtn:active {
    box-shadow: inset 0 8px 6px -6px#5C5B5B;
}

/* ---------- menu list ----------*/
.questionNum {
	list-style-type: decimal;
	font-size: 18px;
}

.seriesNum {
	list-style-type: lower-alpha;
	font-size: 18px;
	margin-left: 20px;
}

/****** true false CSS Start *******/
.true_false_wrap, 
.single_choice_wrap,
.multi_choice_wrap,
.series_question_wrap {
    padding-bottom: 1em;
}

/*.true_false_wrap:not(:last-child),
.single_choice_wrap:not(:last-child),
.multi_choice_wrap:not(:last-child),
.series_question_wrap:not(:last-child) {
    border-bottom: 1px solid #d4d4d4;
}*/

.true_false_answer_wrap {
    display: inline-block;
	margin: 10px 0 10px 0;
}

.true_false_answer_wrap a {
    margin: 5px 10px 15px 5px;
    padding: 4px 10px;
    font-size: 18px;
    background-color: #ddd;
    cursor: default;
    transition: all 0.3s;
    border-radius: 15px;
}

.trueFalseAnswer {
    background-color: #F0BA2F !important;
}

.tfQuestion {
    display: inline-block;
}

.question_editor_wrap {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
}

.questionInfo {
    margin: 0 0 15px 10px;
}

.for_section {
    margin: 10px 0 15px 10px;
}

.questionInfo a, .questionFunc a{
    display: inline-block;
    font-size: 16px;
    color: #888;
}

.questionInfo .level {
    width: 25%;
}

.questionInfo .time {
    width: 20%;
}

.questionInfo .tags {
    display: inline-block;
}

.questionInfo .tags a {
    text-decoration: none;
    margin-right: 5px;
    font-size: 15px;
    color: #fff;
    padding: 3px 9px;
    border: 0;
    border-radius: 4px;
    background-color: #888;
    cursor: pointer;
}

.questionInfo .tags a:hover{
    background-color: rgba(52, 141, 216, 1);
    transition: all 0.3s;
}

.for_section {
    font-size: 16px;
    color: #888;
}
.for_section .is_test span{
    padding: 2px 8px;
    border: 1px solid #888;
    border-radius: 5px;
    color: #888;
    cursor: default;
    font-size: 15px;
}

.for_section .is_test_href {
    text-decoration: none;
    color: #79B03D;
    padding: 2px 8px;
    border: 1px solid #79B03D;
    border-radius: 5px;
    font-size: 15px;
}

.for_section .is_test_href:hover {
    color: #fff;
    background-color: #79B03D;
    transition: all 0.3s;
}

.questionFunc {
    margin: 20px 0px 0px 10px;
}

.questionFunc a{
    margin-right: 10px;
    color: #fff;
    padding: 3px 11px;
    text-decoration: none;
    cursor: pointer;
}

.questionFunc .editQuesBtn {
    border-radius: 5px;
    background-color: rgba(52, 141, 216, 0.5);
}

.questionFunc .editQuesBtn:hover {
    background-color: rgba(52, 141, 216, 1);
    transition: all 0.3s;
}

.questionFunc .deletQuesBtn{
    border-radius: 5px;
    background-color: rgba(173, 50, 50, 0.5);
}

.questionFunc .deletQuesBtn:hover{
    background-color: rgba(173, 50, 50, 1);
    transition: all 0.3s;
}

.single_choice_answer_wrap label, 
.multi_choice_answer_wrap label, .series_question_answer_wrap label {
    display:inline-block;
    margin: 5px 15px 15px 0;
    padding: 4px 30px;
    font-size: 18px;
    background-color: #ddd;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 15px;
}

.true_false_answer_wrap input[type="radio"], .single_choice_answer_wrap input[type="radio"],
.multi_choice_answer_wrap input[type="checkbox"], .series_question_answer_wrap input[type="radio"]  {
	display: none;
}

.true_false_answer_wrap input[type="radio"]:checked + label, .single_choice_answer_wrap input[type="radio"]:checked + label,
.multi_choice_answer_wrap input[type="checkbox"]:checked + label, .series_question_answer_wrap input[type="radio"]:checked + label {
    background-color: #F0BA2F;
}

/****** true false CSS End *******/

/****** single choice CSS Start *******/

.single_choice_answer_wrap,
.multi_choice_answer_wrap,
.series_question_answer_wrap {
	margin: 8px 0 10px 0;
	padding-right: 15px;
	width: auto;
}

.single_choice_answer_wrap a, 
.multi_choice_answer_wrap a,
.series_question_answer_wrap a {
    margin-right: 1em;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 16px;
    padding: 4px 20px;
    background-color: #ddd;
    cursor: default;
    border-radius: 15px;
}

.opt_true {
    background-color: #F0BA2F !important;
}

/****** single choice CSS End *******/

/****** multi choice CSS Start *******/
.multi_choice_answer_wrap {
	margin: 15px 0 10px 0;
	padding-right: 15px;
	width: auto;
}

/****** multi choice CSS End *******/

/****** series CSS Start *******/
.series_question {
	margin: 15px 0 10px 0;
	font-size: 18px;
}

.series_question_answer_wrap {
	margin: 15px 0 10px 0;
	padding-right: 15px;
	width: auto;
}

/****** series choice CSS End *******/

.noQuestion{
    text-align: center;
    margin-top: 2em; 
}

.noQuestion a {
    color: #818181;
    display: block;
    margin-top: 2em;
}

.question {
	font-size: 18px;
}


/*  status Bar */
.statusSilde {
    position: fixed;
    bottom: 3%;
    right: 10%;
    z-index: 100;
    width: 11%;
    border-radius: 5px;
    padding: 12px 22px;
    font-size: 18px;
    color: white;
}

.greenStyle {
    background-color: rgba(90, 176, 61, 0.81);
}

.redStyle {
    background-color: rgba(176, 61, 61, 0.81);
}