#section-search-wrap{
	max-width:1200px; 
	width:90%;
	margin: 0 auto;
}

#searchControl{
	text-align: center;
	margin: 50px 0px 0px 0px;
}

#inputCourse{
	padding: 0px 10px;
	height: 42px;
	width: 380px;
	border:0px;
	font-size: 20px;
}

.searchbtn{
	height: 42px;
	font-size:20px;
}