.fa_plus {
	padding-right: 20px;
}

.fa_newCourse {
	padding: 0 9px 0 2px;
}

#role{
	margin-top: 20px;
	font-size: 30px;
	display: inline-block;
}

.newCourseBtn{
	/*display: inline-block;*/
	margin-left: 15px;
	margin-top: -5px;
	padding: 5px 12px;
	font-size: 18px;
	text-decoration: none;
	border: 1px solid rgba(52, 141, 216, 1);;
	border-radius: 5px;
	cursor: pointer;
	color: rgba(52, 141, 216, 1);
	vertical-align: super;
}

.newCourseBtn:hover{
	background-color: rgba(52, 141, 216, 0.8);
	color: #fff;
	transition: all 0.3s;
}

.newCourseBtn:active {
	box-shadow: inset 0 8px 6px -6px#5C5B5B;
}

.userControl {
	margin: 20px 0 0 -6px;
}

.userControl ul li a {
	text-decoration: none;
	color: #000;
}
/* ---------- tab ---------- */

.tab-list li {
	display: inline-block;
}

.tab-list a {
	display: inline-block;
	margin-right: 10px;
	font-size: 18px;
	padding: 4px 6px;
	border-bottom: 3px solid transparent;
	transition: 0.3s;
	cursor: pointer;
}

.tab-list a.active , .tab-list a:hover {
	border-bottom: 3px solid #5BAE01;
}

.tab-content {
	display: none;
}
/* ---------- tab ---------- */

.courseList {
	margin-top: 20px;
}

.courseItem {
	position: relative;
	border: 1px solid;
	width: 70%;
	background-color: #fff;
	border: 0px solid #EDEDED;
	margin-bottom: 15px;
}

.itemLeft {
	float:left;
	width: 33%;
}

.itemLeft img {
	width: 100%;
	border-radius: 2px;
	display: block;
}
.item-course-info{
	margin-left: 35%;
	padding-top: 31px;
}
.item-course-name {
	font-size: 18px;
}

.item-course-teacher {
	font-size: 15px;
}

.item-course-status {
	margin-top: 30px;
}

.item-course-status-container {
	width: 60%;
	height: 6px;
	background-color: #E8E5E5;
	position: relative;
	display: inline-block;
	border-radius: 6px;
	margin-right: 5px;
}

.status {
	background-color: #3238AD;
	height: 6px;
	width: 0%;
	border-radius: 6px;
}

.itemRight {
	position: absolute;
	top: 3em;
	right: 4%;
}

.rightBtns {
	position: absolute;
	top: 12px;
	right: 5%;
}

.middleBtns {
	position: absolute;
	top: 12px;
	right: 25%;
}

.itemRight a, .middleBtns a, .rightBtns a{
	text-decoration: none;
	font-size: 18px;
	padding: 5px 14px;
	border-radius: 2px;
	display: inline-block;
	transition: all 0.3s;
}

/* for temode.php */
.middleBtns a {
	display: block;
	color: rgba(121, 176, 61, 1);
	border: 1px solid rgba(121, 176, 61, 1);
	margin-bottom: 10px;
}

.middleBtns a:hover {
	color: #fff;
	background-color: rgba(121, 176, 61, 0.8);
}

.rightBtns a {
	color: rgba(173, 50, 50, 0.8);
	border: 1px solid rgba(173, 50, 50, 1);
	display: block;
	margin-bottom: 10px;
}

.rightBtns a:hover {
	color: #fff;
	background-color: rgba(173, 50, 50, 0.8);
}

/* for search.php */
.itemRight a{
	color: #fff;
	background-color: rgba(121, 176, 61, 1);
	padding: 9px 18px;
}

.itemRight a:hover {
	background-color: rgba(121, 176, 61, 0.8);
}

.itemRight a:active,
.item-course-info a:active,
.rightBtns a:active,
.middleBtns a:active {
	box-shadow: inset 0 8px 6px -6px#5C5B5B;
}


