.status {
	color: red;
	font-size: 18px;
}

.newCourseForm-wrap {
	max-width: 720px;
	width: 90%;
	margin: 0 auto;
}

.newCourseForm-wrap .existData {
	text-align: center;
	display: block;
	font-size: 30px;
	padding: 20px 10px;
	margin: 50px 10px 20px 10px;
}

#title {
	font-size: 30px;
	text-align: center;
	margin: 10% 0 1em 0;
}

#newCourseForm, #joinCourseForm {
	text-align: center;
}

.join_courseInfo {
	margin: 5px 10px 20px 10px;
}

#newCourseForm label, #joinCourseForm label{
	font-size: 23px;
	padding: 5px 10px;
	display: block;
}

#joinCourseForm a {
	font-size: 23px;
	display: block;
}

.nameInput {
	margin: 10px 0 20px 0;
	border: 1px solid #ccc;
	border-radius: 5px; 
	box-sizing: border-box;
	padding: 5px 8px;
	width: 50%;
	font-size: 20px;
}

#existData_wrap button, #newCourseForm button , #joinCourseForm button {
	display: inline-block;
	padding: 10px 20px;
	width: 15%;
	font-size: 18px;
	color: #fff;
	border: 0;
	border-radius: 2px;	
}

#existData_wrap button {
	display: block;
	margin: 0 auto;
	width: 30%;
}

#joinCourseForm .joinBtn {
	width: 20%;
}

.giveupBtn {
	margin-top: 20px;
	background-color: rgba(173, 50, 50, 1)
}

.giveupBtn:hover {
	background-color: rgba(173, 50, 50, .8)
}

.giveupBtn:active, #nextBtn:active, .joinBtn:active {
	box-shadow: inset 0 8px 6px -6px #5C5B5B;
}

#nextBtn, .joinBtn{
	margin-right: 2em;
	background-color: rgba(121, 176, 61, 1);
}

#nextBtn:hover, .joinBtn:hover {
	background-color: rgba(121, 176, 61, .8);
}