.studentList-wrap, .studentListStatus-wrap {
	max-width: 960px;
	width: 90%;
	margin: 30px auto 0 auto;
}

.studentListStatus-wrap div{
	display: inline-block;
	font-size: 18px;
}

.totalStuNum {
	width: 15%;
	margin-left: 2em;
}

/* studentList-wrap */

.studentList_container {
	background-color: #fff;
	padding: 1px 10px 0px 10px;
	border-radius: 5px;
}

.student_item {
	margin: 1em 10px;
	font-size: 18px;
	padding: 10px 0 2em 0;
}

.student_item:not(:last-child) {
	border-bottom: 1px solid #EDEDED;
}

.student_table {
	width: 100%;
}

.student_id {
	width: 5%;
}

.student_name {
	width: 10%;
}

.student_name a {
	background-color: #5C5C5C;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: default;
}

.totalScore {
	width: 53%;
}

.joinDate {
	width: 21%;
}

.studentInfo a {
	text-decoration: none;
	background-color: rgba(121, 176, 61, 1);
	border-radius: 3px;
	color: #fff;
	padding: 6px 13px;
	cursor: pointer;
	transition: all .3s;
}

.studentInfo a:hover {
	background-color: rgba(121, 176, 61, 0.7);
}

.student_item .no_student {
	display: block;
	text-align: center;
	color: #999;
}


.panelBtn {
	width: 15%;
	margin-top: 15px;
}