.student_info{
    margin: 2em 1em;
    font-size: 18px;
    overflow: hidden;
}

.id {

}

.name {
    font-size: 22px;
    margin: 10px 0;
}

.joinDate {
    width: auto;
    margin: 16px 0;
}

.totalScore {
    width: auto;
    margin: 20px 0;
}

#scoreInput {
    font-size: 30px;
    margin-left: 10px;
    padding: 6px;
}

.isFinish {
    width: auto;
    margin: 20px 0;
    padding: 15px 0;
}

.finishRadioBtn {
    padding-left: 18px;
}

.finishRadioBtn input[type="radio"]{
    display: none !important;
}

.finishRadioBtn label {
    margin: 5px 30px 15px 0;
    padding: 4px 15px;
    font-size: 18px;
    background-color: #ddd;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
}


.finishRadioBtn input[type="radio"]:checked + label {
    background-color: #79B03D;
    color: #fff;   
}

